
/*#region Type selector */

h1 {
    color: #36CFFF; 
 }

/*#endregion */

/*#region Universal selector */

* {
    color: #36CFFF; 
 }

/*#endregion */

/*#region Descendant selector */

ul em {
    color: #000000; 
 }

/*#endregion */

/*#region Class selector */

.black {
    color: #000000; 
 }

 /* more particuler */
 
 h1.black {
    color: #000000; 
 }
 
/*#endregion */


/*#region ID selector */

#black {
    color: #000000; 
 }

 /* more particuler */
 
 h1#black {
    color: #000000; 
 }

 #black h2 {
    color: #000000; 
 }
 
/*#endregion */

/*#region child selector */

body > p {
    color: #000000; 
 }

/*#endregion */

/*#region attribute selector */

 input[type = "text"]{
    color: #000000; 
 }

/*#endregion */

/*#region multiple select rule */

h1{
    color: #000000;
    font-weight: normal;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-transform: lowercase;
}
 
/*#endregion */

/*#region grouping selector */

h1, h2, h3{
    color:#36CFFF;
    font-weight: normal;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-transform: lowercase;
}

/*#endregion */

/*#region various id selector together */

#content, #footer, #supplement {
    position: absolute;
    left: 510px;
    width: 200px;
 }

/*#endregion */

